In [1]:
!pip install requests
import requests
import json
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

def float_to_string(f):
  f = np.round(f,4)
  s = str(f)[2:]
  while len(s) < 4:
    s += "0"
  return s

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [133]:
end_reached = False
year='2019'
game_number = .0001
list_2018 = []

while not end_reached:

  try:
    game_string = float_to_string(game_number)
    request_string = f"https://statsapi.web.nhl.com/api/v1/game/{year}02{game_string}/boxscore"
    response = requests.get(request_string)
  except:
    #Reached the end of the season
    end_reached = True
    break

  game = json.loads(response.content.decode('utf-8'))
  teams=['away', 'home']

  for team in teams:
    try:
      players = list(game['teams'][team]['players'].keys())
    except:
      end_reached = True
      print(game_number, game_string)
      break
    stats = []
    for player in players:
      try:
        game['teams'][team]['players'][player]['stats']['skaterStats']['player_id'] = player
        stats.append(game['teams'][team]['players'][player]['stats']['skaterStats'])
      except:
        try:
          #Player is a goalie or is scratched
          game['teams'][team]['players'][player]['stats']['goalieStats']['player_id'] = player
          stats.append(game['teams'][team]['players'][player]['stats']['goalieStats'])
        except:
          #Player scratched
          continue
    df = pd.DataFrame.from_dict(stats)
    df = df.set_index('player_id')
    df[f'{team}_team_name'] = game['teams'][team]['team']['name']
    df[f'{team}_team_id'] = game['teams'][team]['team']['id']
    df['season'] = year
    df['game_number'] = game_number
    list_2018.append(df)
  game_number += .0001

KeyError: ignored

In [ ]:
df_2018 = pd.concat(list_2018)

In [ ]:
df_2018.sample(10)

In [ ]:
len(df_2018)

In [132]:
df_2018.to_csv('/content/drive/MyDrive/2019_box_scores.csv')

In [161]:
from numpy.core.numeric import NaN
home_teams = df_2018[df_2018['away_team_name'].isna()]
away_teams = df_2018[df_2018['home_team_name'].isna()]
by_game = away_teams.groupby(['game_number']).sum()

In [163]:
by_game.head()

             assists  goals  ...  home_team_id  shortHandedSavePercentage
game_number                  ...
0.0001             6      3  ...         190.0                        0.0
0.0002            12      7  ...         285.0                      100.0
0.0003             9      5  ...         437.0                      100.0
0.0004             1      2  ...         532.0                        0.0
0.0005             0      0  ...         133.0                      100.0

[5 rows x 30 columns]

In [154]:
by_game.head()

             assists  goals  ...  home_team_id  shortHandedSavePercentage
game_number                  ...
0.0001            10      5  ...         190.0                        0.0
0.0002            12      7  ...         285.0                      200.0
0.0003            13      7  ...         437.0                      200.0
0.0004            11      7  ...         532.0                        0.0
0.0005             7      4  ...         133.0                      100.0

[5 rows x 30 columns]

In [148]:
by_game_away = pd.DataFrame(df_2018.groupby(['game_number'])).groupby(['away_team_name']).sum()
by_game_home = pd.DataFrame(df_2018.groupby(['game_number'])).groupby(['home_team_name']).sum()
by_game = pd.concat([by_game_away, by_game_home])
by_game.head(10)
#Shots are wrong...it's the whole game; divide by 2
#game_number is summed
#use sum of goalie time on ice to figure out if it went to over time; need this for good predictions
#faceoff % is summed
#pim is probably wrong

KeyError: ignored

In [146]:
df_2018.sample(10)

          timeOnIce  assists  ...  home_team_id  shortHandedSavePercentage
player_id                     ...
ID8478472     11:14        0  ...          14.0                        NaN
ID8477935     12:20        0  ...          20.0                        NaN
ID8476881     21:49        0  ...          28.0                        NaN
ID8474066     14:48        0  ...           2.0                        NaN
ID8476925     17:36        0  ...          18.0                        NaN
ID8476981     17:55        0  ...           NaN                        NaN
ID8476882     19:44        1  ...           NaN                        NaN
ID8476443     15:51        0  ...           8.0                        NaN
ID8477401      5:55        0  ...           NaN                        NaN
ID8474697     15:01        0  ...           NaN                        NaN

[10 rows x 39 columns]