In [ ]:
!pip install requests
import requests
import json
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

def float_to_string(f):
  f = np.round(f,4)
  s = str(f)[2:]
  while len(s) < 4:
    s += "0"
  return s

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Mounted at /content/drive

In [ ]:
#https://statsapi.web.nhl.com/api/v1/game/2018020001/linescore
#Use above for start time and OT or not OT
#convert zulu time to eastern, then get the date, otherwise a late start will end up in the next day

end_reached = False
year='2019'
game_number = .0001
list_2018 = []

while not end_reached:

  try:
    game_string = float_to_string(game_number)
    request_string = f"https://statsapi.web.nhl.com/api/v1/game/{year}02{game_string}/boxscore"
    response = requests.get(request_string)
  except:
    #Reached the end of the season
    end_reached = True
    break

  game = json.loads(response.content.decode('utf-8'))
  teams=['away', 'home']

  for team in teams:
    try:
      players = list(game['teams'][team]['players'].keys())
    except:
      end_reached = True
      print(game_number, game_string)
      break
    stats = []
    for player in players:
      try:
        game['teams'][team]['players'][player]['stats']['skaterStats']['player_id'] = player
        stats.append(game['teams'][team]['players'][player]['stats']['skaterStats'])
      except:
        try:
          #Player is a goalie or is scratched
          game['teams'][team]['players'][player]['stats']['goalieStats']['player_id'] = player
          stats.append(game['teams'][team]['players'][player]['stats']['goalieStats'])
        except:
          #Player scratched
          continue
    df = pd.DataFrame.from_dict(stats)
    df = df.set_index('player_id')
    df[f'{team}_team_name'] = game['teams'][team]['team']['name']
    df[f'{team}_team_id'] = game['teams'][team]['team']['id']
    df['season'] = year
    df['game_number'] = game_number
    list_2018.append(df)
  game_number += .0001

In [ ]:
df_2018 = pd.concat(list_2018)

In [ ]:
df_2018.sample(10)

In [ ]:
len(df_2018)

In [ ]:
from copy import Error
def process_box_scores(df):

  df['game_number'] = df['game_number'] * 10000
  df['game_number'] = df['game_number'].astype(int)

  home_teams = df_2018[df_2018['away_team_name'].isna()]
  away_teams = df_2018[df_2018['home_team_name'].isna()]
  #by_game_away = away_teams.groupby(['game_number']).sum()
  #by_game_home = home_teams.groupby(['game_number']).sum()

  num_games = by_game_away.index.argmax()

  if num_games != by_game_home.index.argmax():
    print("Error: Number of home and away games don't match")
    return False

  season = []

  for i in range(1,num_games+1,1):
    box_score = {}
    this_game_all = df[df['game_number'] == i]
    this_game_home = this_game_all[this_game_all['away_team_name'].isna()]
    this_game_away = this_game_all[this_game_all['home_team_name'].isna()]
    box_score['game_number'] = i
    try:
      box_score['home_team_name'] = this_game_home.home_team_name.iloc[0]
      box_score['away_team_name'] = this_game_away.away_team_name.iloc[0]
    except:
      print(f"Error getting the team names in game {i}")
    #print(by_game_home)
    try:
      box_score['home_goals'] = this_game_home.goals.sum()
      box_score['away_goals'] = this_game_away.goals.sum()
      box_score['home_shots'] = this_game_home[this_game_home.evenSaves.isna()].shots.sum()
      box_score['away_shots'] = this_game_away[this_game_away.evenSaves.isna()].shots.sum()
      box_score['home_hits'] = this_game_home.hits.sum()
      box_score['away_hits'] = this_game_away.hits.sum()
      box_score['home_ppg'] = this_game_home.powerPlayGoals.sum()
      box_score['away_ppg'] = this_game_away.powerPlayGoals.sum()
      box_score['home_goals'] = this_game_home.goals.sum()
      box_score['away_goals'] = this_game_away.goals.sum()
    except:
      print("Error getting goals")
      print()
      return False
    season.append(box_score)

  return pd.DataFrame(season)

In [ ]:
df_2018 = pd.read_csv('/content/drive/MyDrive/2018_box_scores.csv')
new_df = process_box_scores(df_2018)

Error getting the team names in game 24
Error getting the team names in game 48
Error getting the team names in game 93
Error getting the team names in game 356

In [ ]:
new_df.head()

   game_number       home_team_name  ... home_ppg  away_ppg
0            1  Toronto Maple Leafs  ...      1.0       1.0
1            2  Washington Capitals  ...      4.0       0.0
2            3    Vancouver Canucks  ...      0.0       0.0
3            4      San Jose Sharks  ...      0.0       2.0
4            5       Buffalo Sabres  ...      0.0       1.0

[5 rows x 11 columns]

In [ ]:
df_2018[df_2018['game_number'] == 47]

      player_id timeOnIce  ...  home_team_id  shortHandedSavePercentage
1789  ID8471702     19:46  ...           NaN                        NaN
1790  ID8476905      9:18  ...           NaN                        NaN
1791  ID8468498     14:05  ...           NaN                        NaN
1792  ID8475758      9:34  ...           NaN                        NaN
1793  ID8476436      9:06  ...           NaN                        NaN
1794  ID8471214     23:57  ...           NaN                        NaN
1795  ID8471698     18:46  ...           NaN                        NaN
1796  ID8475744     20:09  ...           NaN                        NaN
1797  ID8477944     16:12  ...           NaN                        NaN
1798  ID8477444     10:55  ...           NaN                        NaN
1799  ID8475200     20:55  ...           NaN                        NaN
1800  ID8475343     12:00  ...           NaN                        NaN
1801  ID8477831     59:45  ...           NaN                      100.0
1802  ID8473563     20:21  ...           NaN                        NaN
1803  ID8474590     26:09  ...           NaN                        NaN
1804  ID8474189     11:52  ...           NaN                        NaN
1805  ID8477043     13:29  ...           NaN                        NaN
1806  ID8475792     19:38  ...           NaN                        NaN
1807  ID8479482     17:13  ...           NaN                        NaN
1808  ID8470619     11:43  ...           1.0                        NaN
1809  ID8476923     18:16  ...           1.0                        NaN
1810  ID8477509     21:22  ...           1.0                        NaN
1811  ID8471233     18:07  ...           1.0                        NaN
1812  ID8473933     16:53  ...           1.0                        NaN
1813  ID8477425     13:16  ...           1.0                        NaN
1814  ID8475149     16:33  ...           1.0                        NaN
1815  ID8472382     19:14  ...           1.0                        NaN
1816  ID8478401     15:25  ...           1.0                        NaN
1817  ID8477961     11:50  ...           1.0                        NaN
1818  ID8477355     16:48  ...           1.0                        NaN
1819  ID8477520     10:13  ...           1.0                        NaN
1820  ID8476399     13:31  ...           1.0                        NaN
1821  ID8475222     24:45  ...           1.0                        NaN
1822  ID8476234     59:56  ...           1.0                      100.0
1823  ID8475151     15:13  ...           1.0                        NaN
1824  ID8475791     16:19  ...           1.0                        NaN
1825  ID8476474     16:44  ...           1.0                        NaN
1826  ID8480002     15:52  ...           1.0                        NaN

[38 rows x 40 columns]

In [ ]:
by_game_away = pd.DataFrame(df_2018.groupby(['game_number'])).groupby(['away_team_name']).sum()
by_game_home = pd.DataFrame(df_2018.groupby(['game_number'])).groupby(['home_team_name']).sum()
by_game = pd.concat([by_game_away, by_game_home])
by_game.head(10)
#Shots are wrong...it's the whole game; divide by 2
#game_number is summed
#use sum of goalie time on ice to figure out if it went to over time; need this for good predictions
#faceoff % is summed
#pim is probably wrong

KeyError: ignored

In [ ]:
df_2018.sample(10)

          timeOnIce  assists  ...  home_team_id  shortHandedSavePercentage
player_id                     ...
ID8478472     11:14        0  ...          14.0                        NaN
ID8477935     12:20        0  ...          20.0                        NaN
ID8476881     21:49        0  ...          28.0                        NaN
ID8474066     14:48        0  ...           2.0                        NaN
ID8476925     17:36        0  ...          18.0                        NaN
ID8476981     17:55        0  ...           NaN                        NaN
ID8476882     19:44        1  ...           NaN                        NaN
ID8476443     15:51        0  ...           8.0                        NaN
ID8477401      5:55        0  ...           NaN                        NaN
ID8474697     15:01        0  ...           NaN                        NaN

[10 rows x 39 columns]